aniso8601         
anyio           
blinker         
click           
colorama       
distlib         
fastapi         
filelock        
Flask            
Flask-Cors      
Flask-RESTful   
h11              
idna            
itsdangerous     
Jinja2           
MarkupSafe       
platformdirs     
psycopg2         
pydantic         
python-decouple   
pytz              
six              
sniffio          
starlette         
typing_extensions 
uvicorn           
virtualenv        
Werkzeug         